@font-face {
    font-family: NotoSans-Regular;
    src: url(./fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: NotoSans-Medium;
    src: url(./fonts/NotoSans-Medium.ttf);
}

@font-face {
    font-family: NotoSans-Bold;
    src: url(./fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: NotoSans-ExtraBold;
    src: url(./fonts/NotoSans-ExtraBold.ttf);
}

body {
    margin: 0;
    background-color: rgb(35, 35, 35);

}

h1{
    font-family: NotoSans-Bold;
    color: white;
}

h2{
    font-family: NotoSans-Medium;
    color: white;
}

p {
    font-family: NotoSans-Regular;
    color: white;
}

header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    color: red;
}

ul {
    color: white;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 20vw;
    margin-right: 20vw;

}

.small{
    width: auto;
    height: auto;
    background-color: red;
    border-radius: 10px;
    aspect-ratio: 1/1;
    overflow: hidden;
    
}

.inner{
    margin: 10px;
}

.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    width: 100vw;
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}